<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,533}}</string>
                <key>sourceSize</key>
                <string>{203,533}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,324},{230,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,65}}</string>
                <key>sourceSize</key>
                <string>{230,65}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,440},{137,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,42}}</string>
                <key>sourceSize</key>
                <string>{137,42}</string>
            </dict>
            <key>buttonback.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,548},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>chains.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,716},{300,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,214}}</string>
                <key>sourceSize</key>
                <string>{300,214}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,570},{59,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,414},{230,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,63}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,556},{158,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{158,59}}</string>
                <key>sourceSize</key>
                <string>{230,63}</string>
            </dict>
            <key>dagger.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,440},{70,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,163}}</string>
                <key>sourceSize</key>
                <string>{70,163}</string>
            </dict>
            <key>doublon.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,462},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>inapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,248},{164,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,111}}</string>
                <key>sourceSize</key>
                <string>{164,111}</string>
            </dict>
            <key>kid.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,484},{188,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,229}}</string>
                <key>sourceSize</key>
                <string>{188,229}</string>
            </dict>
            <key>level-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,507},{44,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{44,39}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>level-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,512},{56,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>level-open.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,643},{56,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>level-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,585},{56,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>level_1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,646},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,646},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,566},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,513},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>level_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,460},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>mainback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>maptable.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{310,436}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{310,436}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>miniscroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,862},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>ofbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,414},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,283},{316,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,175}}</string>
                <key>sourceSize</key>
                <string>{316,175}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{320,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,67}}</string>
                <key>sourceSize</key>
                <string>{320,67}</string>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,248},{320,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,33}}</string>
                <key>sourceSize</key>
                <string>{320,33}</string>
            </dict>
            <key>world1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,460},{195,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{195,157}}</string>
                <key>sourceSize</key>
                <string>{197,159}</string>
            </dict>
            <key>world3.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,701},{179,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{179,159}}</string>
                <key>sourceSize</key>
                <string>{197,159}</string>
            </dict>
            <key>world5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,619},{193,149}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{193,149}}</string>
                <key>sourceSize</key>
                <string>{197,159}</string>
            </dict>
            <key>world7.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,862},{191,147}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{191,147}}</string>
                <key>sourceSize</key>
                <string>{197,159}</string>
            </dict>
            <key>worldboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{244,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,434}}</string>
                <key>sourceSize</key>
                <string>{244,434}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu.png</string>
            <key>size</key>
            <string>{1024,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7951cae6fe1aa9b63edf769b74a4d53$</string>
            <key>textureFileName</key>
            <string>mainmenu.png</string>
        </dict>
    </dict>
</plist>
