<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1444},{210,204}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{210,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bubblehud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,1694},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bubblemetter00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1650},{202,204}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{202,204}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3158,1282},{202,202}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{202,202}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2914,1816},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3036,1486},{202,194}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{202,194}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1856},{202,190}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{202,190}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3118,1802},{202,184}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{202,184}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1764},{202,178}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{202,178}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,2},{202,174}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,62},{202,174}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,178},{202,170}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,66},{202,170}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2670,1882},{202,162}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{202,162}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,350},{202,152}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,84},{202,152}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,504},{202,144}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,94},{202,144}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,1912},{202,130}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,106},{202,130}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{3036,1682},{202,118}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,118},{202,118}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,650},{202,106}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,130},{202,106}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1944},{202,96}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,140},{202,96}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,758},{202,86}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,150},{202,86}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124,1970},{202,76}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,160},{202,76}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,846},{202,68}}</string>
                <key>offset</key>
                <string>{-1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,170},{202,68}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{3890,916},{202,60}}</string>
                <key>offset</key>
                <string>{-1,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,178},{202,60}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1998},{202,48}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,188},{202,48}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1998},{202,42}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,196},{202,42}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1950},{134,36}}</string>
                <key>offset</key>
                <string>{-1,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,202},{134,36}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1988},{134,28}}</string>
                <key>offset</key>
                <string>{-1,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,210},{134,28}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2018},{134,22}}</string>
                <key>offset</key>
                <string>{-1,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,216},{134,22}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2026},{134,18}}</string>
                <key>offset</key>
                <string>{-1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,220},{134,18}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2030},{134,12}}</string>
                <key>offset</key>
                <string>{-1,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,226},{134,12}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2030},{134,10}}</string>
                <key>offset</key>
                <string>{-1,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,228},{134,10}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2030},{134,8}}</string>
                <key>offset</key>
                <string>{-1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,230},{134,8}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>bubblemetter00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2038},{134,8}}</string>
                <key>offset</key>
                <string>{-1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,230},{134,8}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1274},{548,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,168}}</string>
                <key>sourceSize</key>
                <string>{548,168}</string>
            </dict>
            <key>buttonback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,1554},{160,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>buttonpause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,1414},{160,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>buttonreload.png</key>
            <dict>
                <key>frame</key>
                <string>{{2368,1274},{160,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{160,138}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>cuerda00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2548,2},{120,1908}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1908}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2670,2},{120,1878}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1878}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2792,2},{120,1842}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1842}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2914,2},{120,1812}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1812}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{120,1774}}</string>
                <key>offset</key>
                <string>{1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1774}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,258},{120,1738}}</string>
                <key>offset</key>
                <string>{1,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1738}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,258},{120,1696}}</string>
                <key>offset</key>
                <string>{1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1696}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{120,1656}}</string>
                <key>offset</key>
                <string>{1,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1656}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,258},{120,1614}}</string>
                <key>offset</key>
                <string>{1,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1614}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,258},{120,1570}}</string>
                <key>offset</key>
                <string>{1,173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1570}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,258},{120,1522}}</string>
                <key>offset</key>
                <string>{1,197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1522}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,258},{120,1480}}</string>
                <key>offset</key>
                <string>{1,218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1480}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,258},{120,1428}}</string>
                <key>offset</key>
                <string>{1,243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1428}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,258},{120,1380}}</string>
                <key>offset</key>
                <string>{1,267}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1380}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{3036,2},{120,1330}}</string>
                <key>offset</key>
                <string>{1,293}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1330}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{3158,2},{120,1278}}</string>
                <key>offset</key>
                <string>{1,318}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1278}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{3280,2},{120,1228}}</string>
                <key>offset</key>
                <string>{1,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1228}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,2},{120,1174}}</string>
                <key>offset</key>
                <string>{1,371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1174}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{3524,2},{120,1122}}</string>
                <key>offset</key>
                <string>{1,396}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,1122}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,2},{120,1072}}</string>
                <key>offset</key>
                <string>{1,422}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1072}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{3768,2},{120,1018}}</string>
                <key>offset</key>
                <string>{1,449}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,1018}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{3728,1076},{120,960}}</string>
                <key>offset</key>
                <string>{1,477}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,960}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{3606,1126},{120,906}}</string>
                <key>offset</key>
                <string>{1,504}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,906}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{3484,1178},{120,856}}</string>
                <key>offset</key>
                <string>{1,530}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,856}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{3362,1232},{120,798}}</string>
                <key>offset</key>
                <string>{1,558}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,798}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,1274},{120,744}}</string>
                <key>offset</key>
                <string>{1,585}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,744}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124,1274},{120,694}}</string>
                <key>offset</key>
                <string>{1,611}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,694}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2246,1274},{120,640}}</string>
                <key>offset</key>
                <string>{1,638}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,640}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1444},{120,586}}</string>
                <key>offset</key>
                <string>{1,665}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,586}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1444},{120,538}}</string>
                <key>offset</key>
                <string>{1,689}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,538}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1512},{120,484}}</string>
                <key>offset</key>
                <string>{1,716}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,484}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1512},{120,436}}</string>
                <key>offset</key>
                <string>{1,740}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,436}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1640},{120,384}}</string>
                <key>offset</key>
                <string>{1,765}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,384}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1688},{120,336}}</string>
                <key>offset</key>
                <string>{1,789}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,336}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1740},{120,288}}</string>
                <key>offset</key>
                <string>{1,813}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,288}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1782},{120,246}}</string>
                <key>offset</key>
                <string>{1,834}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,246}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1830},{120,198}}</string>
                <key>offset</key>
                <string>{1,858}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{120,198}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerda00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1874},{120,154}}</string>
                <key>offset</key>
                <string>{1,881}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{120,154}}</string>
                <key>sourceSize</key>
                <string>{128,1920}</string>
            </dict>
            <key>cuerdaquemada.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1512},{18,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{18,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>grayskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1394},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>heml.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1262,1270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,1270}}</string>
                <key>sourceSize</key>
                <string>{1262,1270}</string>
            </dict>
            <key>redskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1580},{190,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,182}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>starhud.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1916},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>whiteskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1208},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
            <key>woodback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1274},{228,236}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{228,236}}</string>
                <key>sourceSize</key>
                <string>{256,254}</string>
            </dict>
            <key>woodbubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,254}}</string>
                <key>sourceSize</key>
                <string>{1280,254}</string>
            </dict>
            <key>yellowskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{3850,1022},{190,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,184}}</string>
                <key>sourceSize</key>
                <string>{190,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud-hd-ipadhd.png</string>
            <key>size</key>
            <string>{4094,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f54902d6744ca52c8507a469201a15$</string>
            <key>textureFileName</key>
            <string>hud-hd-ipadhd.png</string>
        </dict>
    </dict>
</plist>
