<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anchor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{812,2130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{812,2130}}</string>
                <key>sourceSize</key>
                <string>{812,2130}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2882},{918,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,260}}</string>
                <key>sourceSize</key>
                <string>{920,260}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1742},{548,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,168}}</string>
                <key>sourceSize</key>
                <string>{548,168}</string>
            </dict>
            <key>buttonback.png</key>
            <dict>
                <key>frame</key>
                <string>{{3124,3030},{160,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>chains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,1810},{1198,854}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1198,854}}</string>
                <key>sourceSize</key>
                <string>{1200,854}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3785,1284},{231,119}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,5},{231,119}}</string>
                <key>sourceSize</key>
                <string>{459,125}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,3802},{916,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{916,248}}</string>
                <key>sourceSize</key>
                <string>{918,250}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2652},{630,228}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,9},{630,228}}</string>
                <key>sourceSize</key>
                <string>{918,250}</string>
            </dict>
            <key>dagger.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1742},{280,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,652}}</string>
                <key>sourceSize</key>
                <string>{280,652}</string>
            </dict>
            <key>doublon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2958,3258},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>inapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3340,980},{652,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,443}}</string>
                <key>sourceSize</key>
                <string>{654,443}</string>
            </dict>
            <key>kid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2882},{752,914}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,914}}</string>
                <key>sourceSize</key>
                <string>{752,914}</string>
            </dict>
            <key>level-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{3124,2854},{174,150}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{174,150}}</string>
                <key>sourceSize</key>
                <string>{232,170}</string>
            </dict>
            <key>level-gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2202,3798},{218,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{218,152}}</string>
                <key>sourceSize</key>
                <string>{232,170}</string>
            </dict>
            <key>level-open.png</key>
            <dict>
                <key>frame</key>
                <string>{{3939,1405},{218,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{218,152}}</string>
                <key>sourceSize</key>
                <string>{232,170}</string>
            </dict>
            <key>level-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{3785,1405},{218,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{218,152}}</string>
                <key>sourceSize</key>
                <string>{232,170}</string>
            </dict>
            <key>level_1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2756,3866},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{198,202}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>level_2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2556,3866},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{198,202}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>level_3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,3866},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{198,202}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>level_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,2666},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{198,202}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>level_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2666},{198,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{198,202}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>mainback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2134},{1280,1920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1920}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>maptable.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{1240,1738}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,172},{1240,1738}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>miniscroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,3258},{600,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,606}}</string>
                <key>sourceSize</key>
                <string>{600,606}</string>
            </dict>
            <key>ofbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2956,3866},{200,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,182}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1110},{1262,698}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,698}}</string>
                <key>sourceSize</key>
                <string>{1262,700}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{3788,2},{1280,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,268}}</string>
                <key>sourceSize</key>
                <string>{1280,268}</string>
            </dict>
            <key>wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,980},{1280,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,128}}</string>
                <key>sourceSize</key>
                <string>{1280,130}</string>
            </dict>
            <key>world1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3220,2226},{774,626}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{774,626}}</string>
                <key>sourceSize</key>
                <string>{786,636}</string>
            </dict>
            <key>world3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2024},{712,626}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,3},{712,626}}</string>
                <key>sourceSize</key>
                <string>{786,636}</string>
            </dict>
            <key>world5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3322,1634},{768,590}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{768,590}}</string>
                <key>sourceSize</key>
                <string>{786,636}</string>
            </dict>
            <key>world7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,2666},{766,590}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,39},{766,590}}</string>
                <key>sourceSize</key>
                <string>{786,636}</string>
            </dict>
            <key>worldboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,2},{976,1728}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{976,1728}}</string>
                <key>sourceSize</key>
                <string>{976,1734}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu-hd-ipadhd.png</string>
            <key>size</key>
            <string>{4093,4070}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626a5d3613927b5b13f838333ac07f8e$</string>
            <key>textureFileName</key>
            <string>mainmenu-hd-ipadhd.png</string>
        </dict>
    </dict>
</plist>
