<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{64,146}}</string>
                <key>offset</key>
                <string>{250,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{538,25},{64,146}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{48,104}}</string>
                <key>offset</key>
                <string>{-59,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,5},{48,104}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{54,68}}</string>
                <key>offset</key>
                <string>{11,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,155},{54,68}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{54,68}}</string>
                <key>offset</key>
                <string>{10,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint14.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,72}}</string>
                <key>offset</key>
                <string>{-275,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{52,72}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint18.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,58},{194,174}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,36},{194,174}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint19.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,238},{224,172}}</string>
                <key>offset</key>
                <string>{-113,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,15},{224,172}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{170,84}}</string>
                <key>offset</key>
                <string>{-220,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{170,84}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{224,172}}</string>
                <key>offset</key>
                <string>{176,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,15},{224,172}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint21.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,88},{212,194}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,5},{212,194}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint22.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,434},{578,196}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{578,196}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{392,184}}</string>
                <key>offset</key>
                <string>{79,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,14},{392,184}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,82},{504,154}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{504,154}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint5.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{122,76}}</string>
                <key>offset</key>
                <string>{79,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,5},{122,76}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint6.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{78,100}}</string>
                <key>offset</key>
                <string>{84,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,200},{78,100}}</string>
                <key>sourceSize</key>
                <string>{640,300}</string>
            </dict>
            <key>hint7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,238},{232,194}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,6},{232,194}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{70,134}}</string>
                <key>offset</key>
                <string>{258,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{543,28},{70,134}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
            <key>hint9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{118,102}}</string>
                <key>offset</key>
                <string>{168,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,79},{118,102}}</string>
                <key>sourceSize</key>
                <string>{640,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints-hd.png</string>
            <key>size</key>
            <string>{1020,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a55df95da4578349cd3a49aaae17dd$</string>
            <key>textureFileName</key>
            <string>hints-hd.png</string>
        </dict>
    </dict>
</plist>
