<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1775},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{100,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bubblehud.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1958},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bubblemetter00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1874},{102,103}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{102,103}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1874},{102,101}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{102,101}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1874},{102,101}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{102,101}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1892},{102,97}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{102,97}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1875},{102,95}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{102,95}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1775},{102,93}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{102,93}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1870},{102,89}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{102,89}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1775},{102,87}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{102,87}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1961},{102,85}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{102,85}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1775},{102,81}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,37},{102,81}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1958},{102,77}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{102,77}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1972},{102,73}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{102,73}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1979},{102,65}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,53},{102,65}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1982},{102,59}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,59},{102,59}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1977},{102,53}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{102,53}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1977},{102,49}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,69},{102,49}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1998},{102,43}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,75},{102,43}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1991},{102,39}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,79},{102,39}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1921},{102,35}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,84},{102,35}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2013},{102,31}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,88},{102,31}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,604},{102,25}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,93},{102,25}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,580},{102,21}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,98},{102,21}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,552},{68,19}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,100},{68,19}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,524},{68,15}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,104},{68,15}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,496},{68,11}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,108},{68,11}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,541},{68,9}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,110},{68,9}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,509},{68,7}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,112},{68,7}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,470},{68,5}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,114},{68,5}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,573},{68,5}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,114},{68,5}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>bubblemetter00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,632},{68,5}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,114},{68,5}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1788},{274,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,84}}</string>
                <key>sourceSize</key>
                <string>{274,84}</string>
            </dict>
            <key>buttonback.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1941},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>buttonpause.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1775},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>buttonreload.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1775},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>cuerda00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,442},{64,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,960}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,477},{64,946}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,946}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,518},{64,928}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,928}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,552},{64,910}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,910}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,603},{64,892}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,892}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,631},{64,870}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,870}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,768},{64,850}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,850}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,768},{64,828}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,828}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,768},{64,806}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,806}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,768},{64,782}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,782}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,768},{64,758}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,758}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,768},{64,734}}</string>
                <key>offset</key>
                <string>{0,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,734}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{64,708}}</string>
                <key>offset</key>
                <string>{0,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,708}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,768},{64,682}}</string>
                <key>offset</key>
                <string>{0,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,682}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,768},{64,654}}</string>
                <key>offset</key>
                <string>{0,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,654}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{64,628}}</string>
                <key>offset</key>
                <string>{0,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,628}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{64,600}}</string>
                <key>offset</key>
                <string>{0,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,600}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{64,576}}</string>
                <key>offset</key>
                <string>{0,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,576}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{64,548}}</string>
                <key>offset</key>
                <string>{0,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,548}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{64,520}}</string>
                <key>offset</key>
                <string>{0,220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,520}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{64,492}}</string>
                <key>offset</key>
                <string>{0,234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,492}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{64,466}}</string>
                <key>offset</key>
                <string>{0,247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,466}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{64,438}}</string>
                <key>offset</key>
                <string>{0,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,438}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{64,410}}</string>
                <key>offset</key>
                <string>{0,275}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,410}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1404},{64,382}}</string>
                <key>offset</key>
                <string>{0,289}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,382}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1425},{64,356}}</string>
                <key>offset</key>
                <string>{0,302}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,356}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1448},{64,328}}</string>
                <key>offset</key>
                <string>{0,316}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,328}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1464},{64,304}}</string>
                <key>offset</key>
                <string>{0,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,304}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1497},{64,276}}</string>
                <key>offset</key>
                <string>{0,342}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,276}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1770},{64,250}}</string>
                <key>offset</key>
                <string>{0,355}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,250}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1770},{64,226}}</string>
                <key>offset</key>
                <string>{0,367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,226}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1778},{64,202}}</string>
                <key>offset</key>
                <string>{0,379}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,202}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1783},{64,178}}</string>
                <key>offset</key>
                <string>{0,391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,178}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{64,154}}</string>
                <key>offset</key>
                <string>{0,403}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,154}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1775},{64,134}}</string>
                <key>offset</key>
                <string>{0,413}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,134}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1503},{64,112}}</string>
                <key>offset</key>
                <string>{0,424}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,112}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1941},{64,92}}</string>
                <key>offset</key>
                <string>{0,434}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerda00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1847},{64,72}}</string>
                <key>offset</key>
                <string>{0,444}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,960}</string>
            </dict>
            <key>cuerdaquemada.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,580},{10,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{10,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>grayskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1847},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>heml.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,635}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,635}}</string>
                <key>sourceSize</key>
                <string>{631,635}</string>
            </dict>
            <key>redskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1952},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>starhud.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,639},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>whiteskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1858},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>woodback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{116,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{116,115}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>woodbubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{640,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,127}}</string>
                <key>sourceSize</key>
                <string>{640,127}</string>
            </dict>
            <key>yellowskull.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1864},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hud-hd.png</string>
            <key>size</key>
            <string>{1423,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28fa1e8905110282713ef3ec153009be$</string>
            <key>textureFileName</key>
            <string>hud-hd.png</string>
        </dict>
    </dict>
</plist>
